// Primary Color
$primary-light: hsla(176, 50%, 47%, 100%);
$primary-dark: hsla(176, 72%, 28%, 100%);

// Gray
$gray-10: hsla(0, 0%, 48%, 10%);
$gray-30: hsla(0, 0%, 48%, 30%);
$gray-50: hsla(0, 0%, 48%, 50%);
$gray-70: hsla(0, 0%, 48%, 70%);
$gray-100: hsla(0, 0%, 48%, 100%);

// White
$white-100: hsla(0, 0%, 100%, 100%);
$white-50: hsla(0, 0%, 100%, 50%);
$white-0: hsla(0, 0%, 0%, 0%);

// Black
$black-100: hsla(0, 0%, 0%, 100%);
$black-50: hsla(0, 0%, 0%, 50%);

// Light White
$light-white-100: hsla(0, 0%, 98%, 100%);
