@use 'sass:math';
@use '../utils';
@use '../base';
@use '../layout';
@use '../components';

.u-move-top {
  position: relative !important;
  top: -56px !important;
}

.header {
  background-image: url('../assets/images/image-hero-mobile.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 50vw;
  max-height: 400px;
  min-height: 300px;

  @include utils.respond-to('phone-up') {
    background-image: url('../assets/images/image-hero-desktop.jpg');
  }
}

.c-main-nav {
  $main-nav: &;
  padding: 2rem 1.5rem;
  position: relative;
  z-index: 1;

  @include utils.respond-to('phone-up') {
    padding: 3rem 2.5rem;
  }

  @include utils.respond-to('tablet-up') {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 69.375em; /* 1110px */
  }

  &.is-toggled {
    &::before {
      background: linear-gradient(
        180deg,
        utils.$black-100 0%,
        utils.$white-0 100%
      );
      bottom: 0;
      content: '';
      height: 100vh;
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
      width: 100%;
      z-index: -1;

      @include utils.respond-to('tablet-up') {
        display: none;
      }
    }
  }

  &__icons {
    background-color: transparent;
    border: 0;
    cursor: pointer;
    padding: 0;

    @include utils.respond-to('tablet-up') {
      display: none;
    }

    > * {
      pointer-events: none;
    }
  }

  // ----------------------------------
  &__body {
    margin-top: 2rem;

    @include utils.respond-to('tablet-up') {
      height: auto !important;
      margin-top: 0;
      visibility: visible !important;
      width: auto !important;
    }
  }

  .c-list {
    padding: 0;
    @include utils.respond-to('tablet-up') {
      background-color: transparent;
      border: 0;
      display: flex;

      &__item {
        flex-shrink: 0;

        &:not(:last-child) {
          margin-right: 2rem;
        }
      }
    }

    &__link {
      @include base.use-font('medium', '18');
      color: utils.$black-100;
      display: inline-block;
      padding: 1.5rem;
      text-decoration: none;

      @include utils.respond-to('tablet-up') {
        @include base.use-font('medium', '14');
        color: utils.$white-100;
        padding: 0;
      }
    }

    .separator {
      background-color: utils.$gray-30;
      height: 1px;
      width: 100%;

      @include utils.respond-to('tablet-up') {
        display: none;
      }
    }
  }
}

.c-top {
  padding-top: 0;
  text-align: center;

  &__logo {
    position: relative;
    top: -1.5rem;

    > svg {
      margin: 0 auto;
    }
  }

  &__title {
    @include base.use-font('bold', '20');
    line-height: 1.2;
    margin-bottom: 1rem;
    padding-inline: 2rem;

    @include utils.respond-to('phone-up') {
      @include base.use-font('bold', '28');
      margin-bottom: 1.125rem;
    }
  }

  &__subtitle {
    @include base.use-font('regular', '14');
    color: utils.$gray-100;
    line-height: 24px;
    margin-bottom: 1rem;

    @include utils.respond-to('phone-up') {
      @include base.use-font('regular', '16');
      margin-bottom: 2rem;
    }
  }

  &__btn-container {
    > *:last-child {
      margin-left: 0.625rem;
    }
  }
}

.o-bookmark {
  $this: &;
  background-color: utils.$gray-10;

  &:hover {
    background-color: utils.$gray-10;
  }

  > * {
    pointer-events: none;
  }

  &__text {
    @include base.use-font('bold', '16');
    color: utils.$gray-100;
    display: none;
    padding-left: 1rem;
    padding-right: 1.5rem;

    @include utils.respond-to('phone-up') {
      display: inline-block;
    }

    &::after {
      content: attr(data-text);
    }
  }

  &.is-bookmarked {
    #{$this}__icon {
      .circle {
        fill: utils.$primary-dark;
      }

      .flag {
        fill: utils.$white-100;
      }
    }

    #{$this}__text {
      color: utils.$primary-dark;
    }
  }
}

.c-stats {
  &__items {
    @include utils.respond-to('tablet-up') {
      display: flex;
      width: 100%;
    }

    .separator {
      background-color: utils.$gray-30;
      height: 1px;
      margin: 1.5rem auto;
      width: 5rem;

      @include utils.respond-to('tablet-up') {
        height: 4rem;
        margin: 0;
        width: 1px;
      }
    }
  }

  &__item {
    text-align: center;

    @include utils.respond-to('tablet-up') {
      margin-left: 3rem;
      margin-right: 5.75rem;
      text-align: left;

      &:first-child {
        margin: 0;
        margin-right: 3rem;
      }

      &:last-child {
        margin: 0;
        margin-left: 3rem;
      }
    }
  }

  &__number {
    @include base.use-font('bold', '32');
  }

  &__label {
    @include base.use-font('regular', '14');
    color: utils.$gray-100;
    margin-top: 0.7rem;

    @include utils.respond-to('phone-up') {
      @include base.use-font('regular', '16');
    }
  }

  &__progress-bar {
    border-radius: 9999px;
    height: 0.75rem;
    margin-top: 2rem;
    position: relative;
    width: 100%;

    > * {
      border-radius: inherit;
      height: 100%;
    }

    .progress {
      background-color: utils.$primary-light;
      position: absolute;
      top: 0;
      width: 89%;
    }

    .bar {
      background-color: utils.$gray-10;
      position: absolute;
      top: 0;
      width: 100%;
    }
  }
}

.c-about {
  &__title {
    @include base.use-font('bold', '18');

    @include utils.respond-to('phone-up') {
      @include base.use-font('bold', '20');
    }
  }

  &__paragraphs {
    @include base.use-font('regular', '14');
    color: utils.$gray-100;
    line-height: 1.7;
    margin-top: 1.5rem;

    @include utils.respond-to('phone-up') {
      @include base.use-font('regular', '16');
    }

    > *:not(:last-child) {
      margin-bottom: 1.5rem;
    }
  }
}

.c-products {
  margin-top: 2rem;

  > *:not(:last-child) {
    margin-bottom: 1.5rem;
  }

  &__item {
    padding-bottom: 1.5rem;
    padding-top: 1.5rem;

    position: relative;

    @include utils.respond-to('phone-up') {
      padding: 2rem;
    }

    &--disabled {
      &::after {
        background-color: utils.$white-50;
        bottom: 0;
        content: '';
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
      }
    }
  }

  &__header {
    @include utils.respond-to('phone-up') {
      align-items: center;
      display: flex;
      justify-content: space-between;
    }
  }

  &__name {
    @include base.use-font('bold', '16');

    @include utils.respond-to('phone-up') {
      @include base.use-font('bold', '18');
    }
  }

  &__label {
    @include base.use-font('medium', '14');
    color: utils.$primary-light;
    margin-top: 0.5rem;

    @include utils.respond-to('phone-up') {
      margin: 0;
    }

    @include utils.respond-to('phone-up') {
      @include base.use-font('medium', '16');
    }
  }

  &__copy {
    @include base.use-font('regular', '14');
    color: utils.$gray-100;
    line-height: 1.7;
    margin: 1.5rem 0;

    @include utils.respond-to('phone-up') {
      @include base.use-font('regular', '16');
    }
  }

  &__footer {
    @include utils.respond-to('phone-up') {
      align-items: center;
      display: flex;
      justify-content: space-between;
    }

    > *:not(:last-child) {
      margin-bottom: 1.5rem;

      @include utils.respond-to('phone-up') {
        margin: 0;
      }
    }
  }

  &__stock {
    align-items: center;
    display: flex;
    .stock__number {
      @include base.use-font('bold', '32');
    }

    .stock__text {
      @include base.use-font('regular', '14');
      color: utils.$gray-100;
      margin-left: 0.5rem;
    }
  }
}

.c-modal {
  margin: 0 auto;
  max-width: 45.625em;

  &__header {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }

  &__title {
    @include base.use-font('bold', '18');

    @include utils.respond-to('phone-up') {
      @include base.use-font('bold', '24');
      line-height: 1;
    }
  }

  &__icon {
    cursor: pointer;
  }

  &__subtitle {
    @include base.use-font('regular', '14');
    color: utils.$gray-100;
    line-height: 1.7;
    margin: 1.5rem 0;

    @include utils.respond-to('phone-up') {
      @include base.use-font('regular', '16');
      margin-top: 1rem;
    }
  }
}

.c-form {
  > *:not(:last-child) {
    margin-bottom: 1.5rem;
  }
}

.c-form-control {
  padding-bottom: 1.5rem;
  padding-top: 1.5rem;
  position: relative;

  @include utils.respond-to('phone-up') {
    padding: 2rem 1.5rem;
  }

  &--disabled::after {
    background-color: utils.$white-50;
    bottom: 0;
    content: '';
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
  }

  &.has-active {
    border: 2px solid utils.$primary-light;
    padding-left: calc(1.5rem - 1px);
    padding-right: calc(1.5rem - 1px);
  }

  &__header {
    align-items: center;
    display: flex;
  }

  &__title-wrapper {
    margin-left: 1rem;

    @include utils.respond-to('phone-up') {
      align-items: center;
      display: flex;
      width: 100%;
    }

    > *:not(:last-child) {
      margin-bottom: 0.5rem;

      @include utils.respond-to('phone-up') {
        margin: 0;
        margin-right: 1rem;
      }
    }
  }

  &__name {
    @include base.use-font('bold', '16');
  }

  &__label {
    @include base.use-font('regular', '14');
    color: utils.$primary-light;

    @include utils.respond-to('phone-up') {
      @include base.use-font('regular', '16');
      align-items: center;
      display: flex;
      flex-grow: 1;
      justify-content: space-between;
    }
  }

  .label__stocks {
    display: none;

    @include utils.respond-to('phone-up') {
      align-items: center;
      display: flex;

      .label__stock {
        @include base.use-font('bold', '18');
        color: utils.$black-100;
      }

      .label__text {
        @include base.use-font('regular', '14');
        color: utils.$gray-100;
        margin-left: 0.5rem;
      }
    }
  }

  &__body {
    margin: 1.5rem 0 0;
  }

  &__copy {
    @include base.use-font('regular', '14');
    color: utils.$gray-100;
    line-height: 1.7;

    @include utils.respond-to('phone-up') {
      @include base.use-font('regular', '16');
      padding-inline-start: calc(1.5rem + 0.5rem);
    }
  }

  &__stock {
    align-items: center;
    display: flex;
    margin-top: 1.5rem;

    @include utils.respond-to('phone-up') {
      display: none;
    }

    .stock {
      @include base.use-font('bold', '18');
    }

    .text {
      @include base.use-font('regular', '14');
      color: utils.$gray-100;
      margin-left: 0.5rem;
    }
  }

  &__dropdown {
    @include utils.transition-all(150ms);
    margin-top: 1.5rem;
    padding-top: 1.5rem;
    position: relative;

    @include utils.respond-to('phone-up') {
      align-items: center;
      display: flex;
      justify-content: space-between;
    }

    &::before {
      background-color: utils.$gray-10;
      content: '';
      height: 2px;
      left: -1.5rem;
      position: absolute;
      right: -1.5rem;
      top: 0;
    }

    .dropdown__title {
      @include base.use-font('regular', '14');
      color: utils.$gray-100;
      line-height: 1.7;
      margin-bottom: 1.125rem;
      text-align: center;

      @include utils.respond-to('phone-up') {
        @include base.use-font('regular', '16');
        margin: 0;
      }
    }

    .dropdown__footer {
      align-items: center;
      display: flex;

      > *:not(:last-child) {
        margin-right: 1rem;
      }
    }

    .dropdown__input-wrapper {
      align-items: center;
      border-radius: 9999px;
      display: flex;
      outline: 1px solid utils.$gray-30;
      padding: 0.9rem 0;
      padding-left: 1.5rem;
      padding-right: 1.5rem;
    }

    .dropdown__currency {
      @include base.use-font('bold', '14');
      color: utils.$gray-100;
      margin-right: 0.5em;
    }

    .dropdown__input {
      @include base.use-font('bold', '14');
      background-color: transparent;
      border: 0;
      color: utils.$black-100;
      margin-top: 1px;
      max-width: 3ch;
      outline: 0;
    }
  }
}

.c-radio {
  $_this: &;

  &__input {
    left: -999px;
    position: absolute;
  }

  &__input:checked,
  &__input:not(:checked) {
    + #{$_this}__label {
      border-radius: 9999px;
      cursor: pointer;
      display: inline-block;
      height: 24px;
      outline: 1px solid utils.$gray-50;
      position: relative;
      width: 24px;
    }
  }

  &__input:checked {
    + #{$_this}__label {
      &::after {
        background-color: utils.$primary-light;
        border-radius: inherit;
        content: '';
        height: 12px;
        left: 6px;
        position: absolute;
        top: 6px;
        width: 12px;
      }
    }
  }
}

.c-accept {
  max-width: 30em;
  text-align: center;

  &-wrapper {
    align-items: center;
    display: flex;
    justify-content: center;
  }

  &__header {
    > *:not(:last-child) {
      margin-bottom: 1.5rem;
    }
  }

  &__logo {
    > svg {
      margin: 0 auto;
    }
  }

  &__title {
    @include base.use-font('bold', '18');

    @include utils.respond-to('phone-up') {
      @include base.use-font('bold', '24');
    }
  }

  &__copy {
    @include base.use-font('regular', '14');
    color: utils.$gray-100;
    line-height: 1.7;
    margin: 1.5rem 0;

    @include utils.respond-to('phone-up') {
      @include base.use-font('regular', '16');
    }
  }
}
