@use '../utils';
@use '../base';
@use '../layout';
@use '../components';

.header {
  background-image: url('../assets/images/image-hero-mobile.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 50vw;
  max-height: 400px;
  min-height: 300px;

  @include utils.respond-to('phone-up') {
    background-image: url('../assets/images/image-hero-desktop.jpg');
  }
}

.c-main-nav {
  $main-nav: &;
  padding: 2rem 1.5rem;
  position: relative;
  z-index: 1;

  @include utils.respond-to('phone-up') {
    padding: 3rem 2.5rem;
  }

  @include utils.respond-to('tablet-up') {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 69.375em; /* 1110px */
  }

  &.is-toggled {
    &::before {
      background: linear-gradient(
        180deg,
        utils.$black-100 0%,
        utils.$white-0 100%
      );
      bottom: 0;
      content: '';
      height: 100vh;
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
      width: 100%;
      z-index: -1;

      @include utils.respond-to('tablet-up') {
        display: none;
      }
    }
  }

  &__icons {
    background-color: transparent;
    border: 0;
    cursor: pointer;
    padding: 0;

    @include utils.respond-to('tablet-up') {
      display: none;
    }

    > * {
      pointer-events: none;
    }
  }

  // ----------------------------------
  &__body {
    margin-top: 2rem;

    @include utils.respond-to('tablet-up') {
      height: auto !important;
      margin-top: 0;
      visibility: visible !important;
      width: auto !important;
    }
  }

  .c-list {
    @include utils.respond-to('tablet-up') {
      background-color: transparent;
      border: 0;
      display: flex;

      &__item {
        flex-shrink: 0;

        &:not(:last-child) {
          margin-right: 2rem;
        }
      }
    }

    &__link {
      @include base.use-font('medium', '18');
      color: utils.$black-100;
      display: inline-block;
      padding: 1.5rem;
      text-decoration: none;

      @include utils.respond-to('tablet-up') {
        @include base.use-font('medium', '14');
        color: utils.$white-100;
        padding: 0;
      }
    }

    .separator {
      background-color: utils.$gray-30;
      height: 1px;
      width: 100%;

      @include utils.respond-to('tablet-up') {
        display: none;
      }
    }
  }
}

.c-top {
  padding: 0 1.5rem 2.5rem;
  text-align: center;

  @include utils.respond-to('phone-up') {
    padding-bottom: 3rem;
    padding-left: 3rem;
    padding-right: 3rem;
  }

  &__logo {
    position: relative;
    top: -1.5rem;

    > svg {
      margin: 0 auto;
    }
  }

  &__title {
    @include base.use-font('bold', '20');
    line-height: 1.2;
    margin-bottom: 1rem;
    padding-inline: 2rem;

    @include utils.respond-to('phone-up') {
      @include base.use-font('bold', '28');
      margin-bottom: 1.125rem;
    }
  }

  &__subtitle {
    @include base.use-font('regular', '14');
    color: utils.$gray-100;
    line-height: 24px;
    margin-bottom: 1rem;

    @include utils.respond-to('phone-up') {
      @include base.use-font('regular', '16');
      margin-bottom: 2rem;
    }
  }

  &__btn-container {
    > *:last-child {
      margin-left: 0.625rem;
    }
  }
}

.o-bookmark {
  $this: &;
  background-color: utils.$gray-10;

  > * {
    pointer-events: none;
  }

  &__text {
    @include base.use-font('bold', '16');
    color: utils.$gray-100;
    display: none;
    padding-left: 1rem;
    padding-right: 1.5rem;

    @include utils.respond-to('phone-up') {
      display: inline-block;
    }

    &::after {
      content: attr(data-text);
    }
  }

  &.is-bookmarked {
    #{$this}__icon {
      .circle {
        fill: utils.$primary-dark;
      }

      .flag {
        fill: utils.$white-100;
      }
    }

    #{$this}__text {
      color: utils.$primary-dark;
    }
  }
}

.c-stats {
  padding: 2.5rem 1.5rem;

  @include utils.respond-to('tablet-up') {
    padding: 3rem;
  }

  &__items {
    @include utils.respond-to('tablet-up') {
      display: flex;
      width: 100%;
    }

    .separator {
      background-color: utils.$gray-30;
      height: 1px;
      margin: 1.5rem auto;
      width: 5rem;

      @include utils.respond-to('tablet-up') {
        height: 4rem;
        margin: 0;
        width: 1px;
      }
    }
  }

  &__item {
    text-align: center;

    @include utils.respond-to('tablet-up') {
      margin-left: 3rem;
      margin-right: 5.75rem;
      text-align: left;

      &:first-child {
        margin: 0;
        margin-right: 3rem;
      }

      &:last-child {
        margin: 0;
        margin-left: 3rem;
      }
    }
  }

  &__number {
    @include base.use-font('bold', '32');
  }

  &__label {
    @include base.use-font('regular', '14');
    color: utils.$gray-100;
    margin-top: 0.7rem;

    @include utils.respond-to('phone-up') {
      @include base.use-font('regular', '16');
    }
  }

  &__progress-bar {
    border-radius: 9999px;
    height: 0.75rem;
    margin-top: 2rem;
    position: relative;
    width: 100%;

    > * {
      border-radius: inherit;
      height: 100%;
    }

    .progress {
      background-color: utils.$primary-light;
      position: absolute;
      top: 0;
      width: 89%;
    }

    .bar {
      background-color: utils.$gray-10;
      position: absolute;
      top: 0;
      width: 100%;
    }
  }
}
