@use '../utils';

$bg-jumbo-container: utils.$light-white-100 !default;

.l-box {
  background-color: utils.$white-100;
  border: 1px solid utils.$gray-10;
  border-radius: 0.5rem;
}

.l-jumbo-container {
  background-color: $bg-jumbo-container;
  margin: 0 auto;
  max-width: 90em;
  min-height: 100vh;
}

.l-main-container {
  margin: 0 auto;
  padding: 0 1.5rem;

  @include utils.respond-to('phone-up') {
    max-width: 40em;
  }

  @include utils.respond-to('tablet-up') {
    max-width: 45.625em;
  }

  > * + * {
    margin: 1.5rem 0;
  }
}

.u-move-top {
  position: relative !important;
  top: -56px !important;
}

// Flex or Grid
.l-flex-full {
  display: flex;
  width: 100%;
}

.l-flex {
  display: flex;
}

.l-justify-center {
  justify-content: center;
}

.l-justify-space-between {
  justify-content: space-between;
}

.l-align-center {
  align-items: center;
}
